<h1>Get Ready for Hobs.</h1>
<p class="lead">Let your team ask and answer questions in Slack.</p>
<p class="lead">If a team member has asked a similar question in the past, we'll suggest an answer!</p>
<a href="#setup-org" class="btn btn-primary btn-lg">Connect your org with Slack</a>
