<h1>login-template.handlebars</h1>
<div class="row">
  <form id="login-form" class="col-md-4">

    <div id="email-group" class="form-group">
      <label for="email-input">Email address</label>
      <input id="email-input" type="email" class="form-control" placeholder="tyrion@lannister.org">
      <span id="empty-email" class="help-block text-danger error-text">Email can't be empty.</span>
    </div>

    <div id="password-group" class="form-group">
      <label for="password-input">Password</label>
      <input type="password" class="form-control" id="password-input" placeholder="correcthorsebatterystaple">
      <span id="empty-password" class="help-block text-danger error-text">Password can't be empty.</span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
