<h1>Setup your org to use Hobs.</h1>
<p>in just five minutes</p>
<hr>
<p>You'll have to setup incoming and outgoing integrations.
Follow the steps below and you'll be ready to use Hobs!</p>

<h2>Outgoing Integration</h2>
<ol>
  <li>Add an "outgoing webhook" through the Slack integration controls.<br>
  <a href="https://hobz.slack.com/services/new/outgoing-webhook">Add outgoing webhook</a></li>
  <li>Click "Add Outgoing Webhooks Integration".</li>
  <li>Leave "Channel" set to "All".</li>
  <li>Under "Trigger Words", just type "Hobs".</li>
  <li>Copy the "Token" and paste it below:<br>
    <input type="text" class="form-control"></li>
  <li>You can leave "Descriptive Label" blank.</li>
  <li>Type "Hobs" next to "Customize Name".</li>
  <li>Click "Save Settings". Now you can ask questions and give answers in Slack!</li>
</ol>

<h2>Incoming Integration</h2>
<ol>
  <li>Add an "incomming webhook" through the Slack integration controls.<br>
  <a href="https://hobz.slack.com/services/new/incomming-webhook">Add incomming webhook</a></li>
  <li>You can leave "Post to Channel" at whatever the default selection.
    We'll still be able to provide answers in any of your team's channels.
  </li>Click "Add Incomming WebHooks Integration".</li>
  <li>Copy the URL next to "Webhooks URL" and paste it below.<br>
    <input type="text"></li>
  <li>You can leave "Descriptive Label" blank.</li>
  <li>Set "Customize Name" to "Hobs".</li>
  <li>Click "Save Settings". Now just click "Go!" below and you're ready to start using Hobs in Slack!</li>
</ol>
<button class="btn btn-primary btn-lg">Go!</button>
