<div class="row">
  <form id="question-form" class="col-md-6">

    <div id="question-group" class="form-group">
      <label for="question-input">Your question</label>
      <div class="input-group">
        <input id="question-text-input" type="text" class="form-control"
        placeholder="Where was Tyrion Lannister born?">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Ask</button>
        </span>
      </div>

      <span id="question-empty-error" class="help-block text-danger invisible">Question can't be blank.</span>
    </div>

  </form>
</div>
