<div class="js-answer-group" class="form-group">
  <label for="answer-input">Your answer</label>
  <div class="input-group">
    <input name="answer-input" type="text"
      class="js-answer-text-input form-control"
      placeholder="Tyrion was born in Casterly rock. His mother died in childbirth.">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">Answer</button>
    </span>
  </div>

  <span class="js-answer-empty-error help-block text-danger invisible">
    Answer can't be blank.
  </span>
</div>
